<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blog.demo">

    <!-- 定义读取权限 -->
    <permission android:name="com.blog.demo.READ_PEOPLE" />
    <!-- 定义修改权限 -->
    <permission android:name="com.blog.demo.WRITE_PEOPLE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.blog.demo.READ_PEOPLE"/>
    <uses-permission android:name="com.blog.demo.WRITE_PEOPLE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- authorities是标识，访问时需要 -->
        <!-- 设置export为true，对其他apk开放 -->
        <provider
            android:authorities="com.blog.demo.people"
            android:name=".component.provider.PeopleContentProvider"
            android:readPermission="com.blog.demo.READ_PEOPLE"
            android:writePermission="com.blog.demo.WRITE_PEOPLE" />

        <service android:name=".component.service.DemoService" />
        <service android:name=".component.service.AidlService" android:process=":remote" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".application.AlertDialogActivity"
            android:label="application/alert dialog">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.AsyncTaskActivity"
            android:label="application/async task">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.HandlerActivity"
            android:label="application/handler">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.PopupWindowActivity"
            android:label="application/popup window">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.SoftInputManagerActivity"
            android:label="application/soft input manager">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.SpannableActivity"
            android:label="application/spannable">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.SystemUiVisibilityActivity"
            android:label="application/system ui visibility">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.SystemUiVisibilitySampleActivity" />
        <activity android:name=".application.ToastActivity"
            android:label="application/toast">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>


        <activity android:name=".component.activity.IntentFlagActivity"
            android:label="component/activity/flag">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.activity.IntentFlagOtherActivity" />
        <activity android:name=".component.activity.LifeActivity"
            android:label="component/activity/life">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.activity.LifeComplexActivity"
            android:label="component/activity/complex">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.activity.LifeComplexOtherActivity" />
        <activity android:name=".component.activity.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".component.activity.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity android:name=".component.activity.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity android:name=".component.activity.StandardActivity"
            android:label="component/activity/launchMode">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.fragment.LifeFragmentActivity"
            android:label="component/fragment">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.intent.IntentActivity"
            android:label="component/intent">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.intent.IntentCategoryActivity">
            <intent-filter>
                <action android:name="com.blog.demo.action.sample" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.blog.demo.MY_CATREORY" />
            </intent-filter>
        </activity>
        <activity android:name=".component.intent.IntentSampleActivity">
            <intent-filter>
                <action android:name="com.blog.demo.action.intent" />
                <action android:name="com.blog.demo.action.sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".component.notification.NotificationActivity"
            android:label="component/notification">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.provider.ProviderContractActivity"
            android:label="component/provider/contract">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.provider.ProviderCustomActivity"
            android:label="component/provider/custom">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.service.AidlActivity"
            android:label="component/service/aidl">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.service.ServiceActivity"
            android:label="component/service/service">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>


        <activity android:name=".control.button.CheckBoxActivity"
            android:label="control/button/check box">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.button.RadioButtonActivity"
            android:label="control/button/radio button">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.button.SwitchActivity"
            android:label="control/button/switch">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.button.ToggleButtonActivity"
            android:label="control/button/toggle button">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.clock.AnalogClockActivity"
            android:label="control/clock/analog clock">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.clock.DigitalClockActivity"
            android:label="control/clock/digital clock">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.clock.TextClockActivity"
            android:label="control/clock/text clock">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.edit.EditTextImeOptionsActivity"
            android:label="control/edit text/ime options">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.edit.EditTextInputTypeActivity"
            android:label="control/edit text/input type">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.edit.EditTextPasswordActivity"
            android:label="control/edit text/password">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.layout.RelativeLayoutAlignActivity"
            android:label="control/layout/relative layout/align">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.layout.RelativeLayoutAlignParentActivity"
            android:label="control/layout/relative layout/align parent">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.layout.RelativeLayoutCenterActivity"
            android:label="control/layout/relative layout/center">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.layout.RelativeLayoutRelativeActivity"
            android:label="control/layout/relative layout/relative">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.layout.LinearLayoutGravityActivity"
            android:label="control/layout/linear layout/gravity">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.layout.LinearLayoutOrientationActivity"
            android:label="control/layout/linear layout/orientation">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.list.ListViewArrayAdapterActivity"
            android:label="control/list view/array adapter">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.list.ListViewCustomAdapterActivity"
            android:label="control/list view/custom adapter">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.list.ListViewHeaderViewActivity"
            android:label="control/list view/header view">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.list.ListViewScrollBarSizeActivity"
            android:label="control/list view/scroll bar/size">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.list.ListViewScrollBarStyleInsideActivity"
            android:label="control/list view/scroll bar/style inside">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.list.ListViewScrollBarStyleOutsideActivity"
            android:label="control/list view/scroll bar/style outside">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.list.ListViewScrollBarThumbVerticalActivity"
            android:label="control/list view/scroll bar/thumb vertical">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.list.ListViewScrollBarTrackVerticalActivity"
            android:label="control/list view/scroll bar/track vertical">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.list.ListViewSimpleAdapterActivity"
            android:label="control/list view/simple adapter">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.picker.DatePickerActivity"
            android:label="control/picker/date picker">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.picker.NumberPickerActivity"
            android:label="control/picker/number picker">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.picker.TimePickerActivity"
            android:label="control/picker/time picker">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.progressbar.ProgressBarActivity"
            android:label="control/progress bar/progress bar">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.progressbar.RatingBarActivity"
            android:label="control/progress bar/rating bar">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.progressbar.SeekBarActivity"
            android:label="control/progress bar/seek bar">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.text.TextViewAutoLinkActivity"
            android:label="control/text view/auto link">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.text.TextViewEllipseActivity"
            android:label="control/text view/ellipse">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.text.TextViewFontActivity"
            android:label="control/text view/font">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.text.TextViewLineSpacingActivity"
            android:label="control/text view/line spacing">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.text.TextViewRichTextActivity"
            android:label="control/text view/rich text">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.text.TextViewSpannableActivity"
            android:label="control/text view/spannable">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.viewpager.ViewPagerAdapterActivity"
            android:label="control/view pager/adapter">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.viewpager.ViewPagerAdvertisementActivity"
            android:label="control/view pager/advertisement">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.viewpager.ViewPagerCycleActivity"
            android:label="control/view pager/cycle">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.viewpager.ViewPagerTransformerActivity"
            android:label="control/view pager/transformer">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.viewswitcher.ViewSwitcherFactoryActivity"
            android:label="control/view switcher/factory">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.viewswitcher.ViewSwitcherNormalActivity"
            android:label="control/view switcher/normal">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.ChronometerActivity"
            android:label="control/Chronometer">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.SpinnerActivity"
            android:label="control/spinner">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.ViewFlipperActivity"
            android:label="control/view flipper">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.ViewStubActivity"
            android:label="control/view stub">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".control.WebViewActivity"
            android:label="control/web view">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>


        <activity android:name=".custom.AttrAssignActivity"
            android:theme="@style/AppTheme.AttrAssign"
            android:label="custom/attr assign">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".custom.AttrDeclareActivity"
            android:label="custom/attr declare">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".custom.AttrFormatActivity"
            android:label="custom/attr format">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".custom.FlowLayoutActivity"
            android:label="custom/flow layout">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".custom.GroupActivity"
            android:label="custom/group">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".custom.TouchEventActivity"
            android:label="custom/touch event">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".custom.VelocityTrackerActivity"
            android:label="custom/velocity tracker">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>


        <activity android:name=".design.AppBarLayoutActivity"
            android:label="design/app bar layout">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".design.CardViewActivity"
            android:label="design/card view">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".design.CollapsingToolbarLayoutNormalActivity"
            android:label="design/collapsing toolbar layout/normal">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".design.CollapsingToolbarLayoutPictureActivity"
            android:label="design/collapsing toolbar layout/picture">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".design.DrawerLayoutActivity"
            android:label="design/drawer layout">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".design.FloatingActionButtonActivity"
            android:label="design/floating action button">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".design.SlidingPaneLayoutActivity"
            android:label="design/slide pane layout">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".design.SnackBarActivity"
            android:label="design/snack bar">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".design.TabLayoutActivity"
            android:label="design/tab layout">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".design.ToolbarActivity"
            android:theme="@style/AppTheme.ToolBar"
            android:label="design/toolbar">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>

        <activity android:name=".image.animation.AnimationInterpolatorActivity"
            android:label="image/animation/interpolator">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.animation.FrameAnimationActivity"
            android:label="image/animation/frame">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.animation.LayoutAnimationActivity"
            android:label="image/animation/layout">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.animation.PropertyAnimationActivity"
            android:label="image/animation/property">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.animation.TransitionAnimationActivity"
            android:label="image/animation/transition/animation">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.animation.TransitionAnimationDelayActivity"
            android:label="image/animation/transition/delay">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.animation.TransitionAnimationGoActivity"
            android:label="image/animation/transition/go">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.animation.TransitionAnimationResultActivity" />
        <activity android:name=".image.animation.TransitionAnimationThemeActivity"
            android:theme="@style/AppTheme.Transition"
            android:label="image/animation/transition/theme">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.animation.TransitionAnimationThemeResultActivity"
            android:theme="@style/AppTheme.Transition"/>
        <activity android:name=".image.animation.TransitionVisibilityActivity"
            android:label="image/animation/transition/visibility">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.animation.TweenAnimationActivity"
            android:label="image/animation/tween">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.ImageViewActivity"
            android:label="image/image view">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.MediaCodecActivity"
            android:label="image/media codec">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.MediaMetadataRetrieverActivity"
            android:label="image/media metadata retriever">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.MediaPlayerAudioActivity"
            android:label="image/media player/audio">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.MediaPlayerVideoActivity"
            android:label="image/media player/video">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.SelectorActivity"
            android:label="image/selector">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.ShapeActivity"
            android:label="image/shape">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>

        <activity android:name=".system.json.FastJsonActivity"
            android:label="system/json/fastjson">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.json.JsonActivity"
            android:label="system/json/json">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.json.GsonActivity"
            android:label="system/json/gson">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.BatteryManagerActivity"
            android:label="system/battery manager">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.BuildActivity"
            android:label="system/build">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.ConnectivityManagerActivity"
            android:label="system/connectivity manager">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.DisplayMetricsActivity"
            android:label="system/display metrics">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.EnvironmentActivity"
            android:label="system/environment">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.FileActivity"
            android:label="system/file">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.FontMetricsActivity"
            android:label="system/font metrics">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.MemoryInfoActivity"
            android:label="system/memory info">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.SharedPreferencesActivity"
            android:label="system/shared preferences">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.SQLiteActivity"
            android:label="system/sqlite">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.TelephonyManagerActivity"
            android:label="system/telephony manager">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.VibratorActivity"
            android:label="system/vibrator">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.XmlActivity"
            android:label="system/xml">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>

    </application>
</manifest>
