<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blog.demo">

    <!-- 定义读取权限 -->
    <permission android:name="com.blog.demo.READ_PEOPLE" />
    <!-- 定义修改权限 -->
    <permission android:name="com.blog.demo.WRITE_PEOPLE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.blog.demo.READ_PEOPLE"/>
    <uses-permission android:name="com.blog.demo.WRITE_PEOPLE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- authorities是标识，访问时需要 -->
        <!-- 设置export为true，对其他apk开放 -->
        <provider
            android:authorities="com.blog.demo.people"
            android:name=".component.provider.PeopleContentProvider"
            android:readPermission="com.blog.demo.READ_PEOPLE"
            android:writePermission="com.blog.demo.WRITE_PEOPLE" />

        <service android:name=".component.service.DemoService" />
        <service android:name=".component.service.AidlService" android:process=":remote" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".application.AsyncTaskActivity"
            android:label="application/async task">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.HandlerActivity"
            android:label="application/handler">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.SoftInputManagerActivity"
            android:label="application/soft input manager">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.SpannableActivity"
            android:label="application/spannable">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.SystemUiVisibilityActivity"
            android:label="application/system ui visibility">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".application.SystemUiVisibilitySampleActivity" />

        <activity android:name=".component.activity.IntentFlagActivity"
            android:label="component/activity/flag">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.activity.IntentFlagOtherActivity" />
        <activity android:name=".component.activity.LifeActivity"
            android:label="component/activity/life">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.activity.LifeComplexActivity"
            android:label="component/activity/complex">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.activity.LifeComplexOtherActivity" />
        <activity android:name=".component.activity.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".component.activity.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity android:name=".component.activity.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity android:name=".component.activity.StandardActivity"
            android:label="component/activity/launchMode">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.fragment.LifeFragmentActivity"
            android:label="component/fragment">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.intent.IntentActivity"
            android:label="component/intent">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.intent.IntentCategoryActivity">
            <intent-filter>
                <action android:name="com.blog.demo.action.sample" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.blog.demo.MY_CATREORY" />
            </intent-filter>
        </activity>
        <activity android:name=".component.intent.IntentSampleActivity">
            <intent-filter>
                <action android:name="com.blog.demo.action.intent" />
                <action android:name="com.blog.demo.action.sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".component.notification.NotificationActivity"
            android:label="component/notification">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.provider.ProviderContractActivity"
            android:label="component/provider/contract">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.provider.ProviderCustomActivity"
            android:label="component/provider/custom">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.service.AidlActivity"
            android:label="component/service/aidl">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".component.service.ServiceActivity"
            android:label="component/service/service">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>

        <activity android:name=".custom.FlowLayoutActivity"
            android:label="custom/flow layout">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>

        <activity android:name=".image.AnimationInterpolatorActivity"
            android:label="image/animation interpolator">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.FrameAnimationActivity"
            android:label="image/animation frame">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.ImageViewActivity"
            android:label="image/image view">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.LayoutAnimationActivity"
            android:label="image/animation layout">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.PropertyAnimationActivity"
            android:label="image/animation property">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.ShapeActivity"
            android:label="image/shape">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.TransitionAnimationActivity"
            android:label="image/animation transition/animation">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.TransitionAnimationDelayActivity"
            android:label="image/animation transition/delay">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.TransitionAnimationGoActivity"
            android:label="image/animation transition/go">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.TransitionAnimationResultActivity" />
        <activity android:name=".image.TransitionAnimationThemeActivity"
            android:theme="@style/AppTheme.Transition"
            android:label="image/animation transition/theme">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.TransitionAnimationThemeResultActivity"
            android:theme="@style/AppTheme.Transition"/>
        <activity android:name=".image.TransitionVisibilityActivity"
            android:label="image/animation transition/visibility">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".image.TweenAnimationActivity"
            android:label="image/tween animation">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>

        <activity android:name=".system.json.FastJsonActivity"
            android:label="system/json/fastjson">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.json.JsonActivity"
            android:label="system/json/json">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.json.GsonActivity"
            android:label="system/json/gson">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.BatteryManagerActivity"
            android:label="system/battery manager">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.BuildActivity"
            android:label="system/build">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.ConnectivityManagerActivity"
            android:label="system/connectivity manager">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.DisplayMetricsActivity"
            android:label="system/display metrics">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.EnvironmentActivity"
            android:label="system/environment">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.FileActivity"
            android:label="system/file">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.FontMetricsActivity"
            android:label="system/font metrics">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.MemoryInfoActivity"
            android:label="system/memory info">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.SharedPreferencesActivity"
            android:label="system/shared preferences">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.SQLiteActivity"
            android:label="system/sqlite">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.TelephonyManagerActivity"
            android:label="system/telephony manager">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.VibratorActivity"
            android:label="system/vibrator">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
        <activity android:name=".system.XmlActivity"
            android:label="system/xml">
            <intent-filter>
                <action android:name="com.blog.demo.content" />
            </intent-filter>
        </activity>
    </application>
</manifest>
